{
  "type": "service_account",
  "project_id": "tu-proyecto-sgsi-soc",
  "private_key_id": "TU_PRIVATE_KEY_ID_AQUI",
  "private_key": "PEGA_AQUI_TU_LLAVE_PRIVADA_DESCARGADA_DE_GOOGLE_CLOUD",
  "client_email": "sgsi-soc-service@tu-proyecto-sgsi-soc.iam.gserviceaccount.com",
  "client_id": "123456789012345678901",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/sgsi-soc-service%40tu-proyecto-sgsi-soc.iam.gserviceaccount.com"
}
